body {
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#fb009f, #fe0202);
}

.container {
    text-align: center;
}

.text {
    color: #fff;
    letter-spacing: 1px;
    margin: 10px;
}

.page {
    width: 350px;
    background: white;
    border-radius: 5px;
    padding-bottom: 15px;
}

.title {
    padding: 30ppx 0;
    text-transform: capitalize;
    font-size: 25px;
    font-family: 'Roboto Flex', sans-serif;
}

.form {
    width: 75%;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.form input {
    margin-bottom: 5px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    outline: none;
}

form input:focus {
    border: 1px solid rgba(0, 0, 0, 0.7);
    background: #efefee;
}

input[type="text"],
[type="password"] {
    padding-left: 50%;
    position: relative;
    height: 30px;
    font-size: 13px;
}

input::placeholder {
    font-weight: normal;
    font-size: 13px;
    transition: 0.3s ease;
}